
.nav_container{
    /* background-color: rgba(192, 192, 192, 0.192); */
    background-color: #a8dadc;
    border-bottom: 1px solid red;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 10px;
}

.nav_left{
    margin-left: 30px;
}

.nav_right{
    display: flex;
    width: 120px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}
