
.dropzone{
    width: 400px;
    height: 400px;
    border: dashed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.dropzone_input{
    display: none;
}

.in-dropzone{
    border: solid;
}

.dropzone-img{
    position: absolute;
    width: 380px;
    height: 380px;
    border: none;
    outline: none;
}

.disappear{
    display: none;
}
