

.edit-profile_page{
    margin-top: 50px;
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.edit-profile_container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.edit-profile-avatar{
    height: 150px;
    display: flex;
    width: 420px;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 40px;
}

.edit-profile-input{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.edit-profile-label{
    width: 140px;
    text-align: end;
}
