/* homa page title font */
@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');

.homePage_container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.homePage_title{
    padding-top: 10px;
    font-family: 'Goblin One', cursive;
}

.imagesList_container{
    display: flex;
    flex-direction: column-reverse;
}
