/* profile column font */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@700&display=swap');

.imageDetails_page{
    width: 100%;
    min-height: 90vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.details_container{
    margin-top: 45px;
    display: flex;
    width: 800px;
    height: auto;
    background-color: white;
}

.image-column{
    width: 500px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.profile-column{
    width: 300px;
}


.image-column_image{
    width: 500px;
    height: 550px;
    /* border-radius: 8px; */
}

.image-column_qty-btn{
    display: flex;
    flex-direction: row;
    width: 340px;
    justify-content: space-between;
    font-size: 18px;
}

.image-column_buttons{
    display: flex;
    justify-content: space-between;
    width: 60px;
}

.image-column_buttons button{
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}

/* comment-list and the textArea */
.image-column_comment{
    height: auto;
}

/* only the comment list */
.image-column_comment-list{
    width: auto;
    max-height: 315px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 10px;
}

.image-column_form{
    /* border-style: dotted; */
    display: flex;
    justify-content: space-evenly;

}

.image-column_textarea{
    resize: none;
    border-radius: 4px;
    width: 300px;
    height: 60px;
    background-color: whitesmoke;
}

.image-column_form-btns{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70px;
}

.image-column_form-btns button{
    border: none;
    background-color: transparent;
}

.image-column_error{
    color: red;
    font-size: 10px;
    margin-left: 50px;
}

.profile-column_username{
    font-size: large;
    font-family: 'Azeret Mono', monospace;
}
