
.imageDetails_page{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details_container{
    display: flex;
    width: 700px;
}

.image-column{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-column{
    width: 30%;
}


.image-column_image{
    width: 350px;
    height: 350px;
    border-radius: 8px;
}

.image-column_buttons{
    display: flex;
    width: 150px;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.image-column_quantity{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 400px;
}

.image-column_comments{
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
}
