/* profile column font */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@700&display=swap');

.imageDetails_page{
    width: 100%;
    min-height: 92vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.details_container{
    margin-top: 45px;
    display: flex;
    width: 820px;
    height: 550px;
    background-color: white;
}

.image-column{
    width: 500px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.profile-column{
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.image-column_image{
    width: 500px;
    height: 550px;
    /* border-radius: 8px; */
}

.profile-column_qty-btn{
    display: flex;
    flex-direction: row;
    width: 250px;
    justify-content: space-between;
    font-size: 18px;
    margin-left: 17px;
}

.profile-column_buttons{
    display: flex;
    justify-content: space-between;
    width: 60px;
}

.profile-column_buttons button:hover{
    font-size: 24px;
}

.profile-column_buttons button{
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}

/* comment-list and the textArea */
.profile-column_comment{
    height: auto;
}

/* only the comment list */
.profile-column_comment-list{
    width: auto;
    height: 380px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 10px;
}

.profile-column_form{
    /* border-style: dotted; */
    display: flex;
    justify-content: space-evenly;

}

.profile-column_textarea{
    resize: none;
    border-radius: 4px;
    width: 300px;
    height: 60px;
    background-color: whitesmoke;
}

.profile-column_form-btns{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70px;
}

.profile-column_form-btns button{
    border: none;
    background-color: transparent;
}

.profile-column_form-btns button:hover{
    font-size: 16px;
}

.profile-column_error{
    color: red;
    font-size: 10px;
    margin-left: 50px;
}

/* makes a line underneath the image user info */
.profile-column_userInfo{
    margin-right: -10px;
    margin-left: -10px;
    border-bottom: thin solid rgba(0, 0, 0, 0.096);
    padding-bottom: 8px;
}

.profile-column_user{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.profile-column_username{
    font-size: large;
    font-family: 'Azeret Mono', monospace;
    cursor: pointer;
}

.profile-column-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
